@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
a{
 text-decoration: none;
}
body{
  background-color: hsl(211, 34%, 19%);
}
/*=========== link ===========*/
.icone{
    position: relative;
     
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    z-index: 3;
    background: hsl(211, 45%, 10%);
  }
  
  
  .nav .navbar a {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    position: relative;
    transition: all 0.3s ease; /* Transição suave */
  }
  
  .nav .navbar a:hover {
    background:  #be3144;
    color: #fff;
    border-radius: 5px; /* Arredonda as bordas ao passar o mouse */
    box-shadow: 0 4px 15px #be3144; /* Adiciona uma leve sombra */
    transform: scale(1.05); /* Aumenta levemente o tamanho do link */
  }
  #menu-btn {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  .nav .navbar a img{
    transition: filter 0.3s ease;
  }
  .nav .navbar a:hover img{
     filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(1200%) hue-rotate(335deg) brightness(95%) contrast(100%);
  }
/*=========== descriçao ===========*/


.apresentacao {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao1 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao1:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}



.botao1 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao1 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao1 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}
.apresentacao2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao2 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao2:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao2 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao2 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao2 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}
.apresentacao3 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao3 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao3:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao3 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao3 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao3 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.apresentacao4 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao4 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao4:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao4 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao4 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao4 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.apresentacao5 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao5 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao5:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao5 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao5 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao5 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.apresentacao6 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao6 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao6:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao6 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao6 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao6 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.apresentacao7 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao7 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao7:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao7 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao7 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao7 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

.apresentacao8 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.botao8 {
  background-color: #f9f9f9; /* cor de fundo */
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra */
  padding: 20px 30px; /* padding top e bottom de 20px, left e right de 30px */
  width: 900px; /* largura máxima */
  height: 200px; /* altura */
  text-align: left; /* alinhamento à esquerda */
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* transição para hover */
}

.botao8:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* sombra ao passar o mouse */
}

.botao8 h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.botao8 h3 {
  font-size: 1.1em;
  color: #555;
  margin: 0;
}

.botao8 p {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

/*========== foooter ===========*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.mapa{
  z-index: 1;
}


.footer {
  position: relative;
  width: 100%;
  background: #be3144;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



