
@media screen and (min-width: 1120px) {

}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

:root {
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}
body {
 font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color); 
 
}
 li{
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*========= link topo =========*/
.icone{
  position: relative;
   
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 9%;
  z-index: 3;
  background: hsl(211, 45%, 10%);
}

.nav .logo span {
  color: rgb(124 0 255);
}
.nav .navbar a {
  display: inline-block;
  padding: 0px 30px;
  color: #fff;
  position: relative;
  transition: all 0.3s ease; /* Transição suave */
}

.nav .navbar a:hover {
  background:  #be3144;
  color: #fff;
  border-radius: 5px; /* Arredonda as bordas ao passar o mouse */
  box-shadow: 0 4px 15px #be3144; /* Adiciona uma leve sombra */
  transform: scale(1.05); /* Aumenta levemente o tamanho do link */
}
#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav .navbar a img{
  transition: filter 0.3s ease;
}
.nav .navbar a:hover img{
   filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(1200%) hue-rotate(335deg) brightness(95%) contrast(100%);
}

/*========= esquerda =========*/

.esquerda{
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  direction: ltr;
  display: flex;
  text-align: justify;
 justify-content: flex-start;
 
}

.esquerda p{
  display: flex;
  text-align: justify;
 justify-content: flex-start;
}

.esquerda img{
  padding-left: 20px;
  margin-right: 10px;
}
/*========== direita ==========*/
.direita p{
  display: flex;
  text-align: justify;
 justify-content: flex-end;
}
.direita{
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
  direction: rtl;
  display: flex;
  text-align: justify;
 justify-content: flex-start;
}

.direita img{
  padding-right: 20px;
  margin-left: 10px;
  
}

/*========= corpo ==========*/

.headline h2{
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.headline p{
  text-align: left;
  color: rgba(99,101,102,255);
}
.img-headline img{
  background-color: hsl(212, 42%, 15%);
  max-width: 30rem;
}

.headline{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-headline {
  display: flex; /* Permite o uso de flexbox */
  justify-content: center; /* Centraliza a imagem */
  margin-top: 20px; /* Espaço entre texto e imagem */
}

section{
  padding: 2rem 0 2rem 0;
}

.lista{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 1rem;
}

.pititi img{
  padding: 0px 0px 0px 50px;
}
/*========== input dec ==========*/

.file-input {
  display: none; /* Oculta o input padrão */
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF; /* Cor de fundo */
  color: white; /* Cor do texto */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.file-label:hover {
  background-color: #be3144; 
  transition: 0.4s;/* Cor ao passar o mouse */
}
.file-upload {
  margin-top: 20px; /* Espaço acima do input file */
  text-align: center; /* Centraliza o botão de upload */
}

/*========== footer ===========*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #be3144; /* cor de fundo */
}

.icone {
  flex: 1;
}

.icone .logo {
  max-width: 100%;
}

.footer a {
  margin-left: 15px; /* espaço entre os ícones */
  transition: transform 0.3s; /* efeito suave no hover */
}

.footer a:hover {
  transform: scale(1.3); /* aumenta o tamanho no hover */
  
}