
/*=============== BASE ===============*/
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}
body{
  background-color: hsl(212, 42%, 15%);
}

p{
  padding-top: 10px;
}

/*========== link topo ==========*/
.icone{
  position: relative;
   
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  z-index: 3;
  background: hsl(211, 45%, 10%);
}


.nav .navbar a {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  position: relative;
  transition: all 0.3s ease; /* Transição suave */
}

.nav .navbar a:hover {
  background:  #be3144;
  color: #fff;
  border-radius: 5px; /* Arredonda as bordas ao passar o mouse */
  box-shadow: 0 4px 15px #be3144; /* Adiciona uma leve sombra */
  transform: scale(1.05); /* Aumenta levemente o tamanho do link */
}
#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav .navbar a img{
  transition: filter 0.3s ease;
}
.nav .navbar a:hover img{
   filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(1200%) hue-rotate(335deg) brightness(95%) contrast(100%);
}



/*========== corpo ==========*/
.header{
    padding: 100px;
    background-color:  hsl(212, 42%, 15%);
    max-width: 70%;
  
  }
  
  h2{
    padding: 0;
  }
  
  .headline p{
    text-align: right;
  }
  
  .headline h2{
    text-align: left;
  }
  
  .header{
    padding-top: 125px ;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 42%, 15%);
    color: white;
    height: auto;
    width: auto;
  }
  
  .headline{
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    direction: ltr;
    display: flex;
    text-align: justify;
   justify-content: flex-start;
   width: auto;
  }
  
  .headline p{
    display: flex;
    text-align: justify;
   justify-content: flex-star;
  }
 
  
  /*========== footer ==========*/
  
  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
  position: relative;
  background: #be3144;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



