
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p{
  color: white;
}
/*========== link topo ==========*/


.fixo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 0 2rem;
  position: fixed;
  background-color:  hsl(212, 42%, 15%);
  height: 80px;
  z-index: 1;
}

#logo {
  height: 50px;
  margin-right: auto;
  padding: 0;
  width: 180px;
  margin-top: 30px;
}

.cima{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  width: 100vw;
}

.list {
  display: flex;
}

.list .links ul li a:after{
  content: "";
  position: absolute;
  background-color:#be3144;
  height: 4px;
  width: 100%;
  left: 0;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
}

.list .links ul li a:hover:after{
  width: 100%;
}

.link{
  text-decoration: none;
  color: white;
}

.links ul {
  display: flex;
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.links li {
  display: flex; 
}

.link {
  margin-right: 15px; 
  text-decoration: none; 
  color: inherit; 
  
}

.link {
  transition: filter 0.3s ease; 
}

.link-container:hover .link {
  filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(1200%) hue-rotate(335deg) brightness(95%) contrast(100%);
}

.link {
  text-decoration: none; 
  color: white; 
  position: relative; 
  transition: color 0.3s ease; 
}

.link::after {
  content: "";
  position: absolute;
 
  height: 2px; 
  background: #be3144; 
  left: 0;
  bottom: -5px; 
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}

.link:hover {
  color: #be3144; 
  transition: 0.5s;
}

li{
  display: flex-end;
  text-align: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

nav{
  height: 100px;
  width: 0;
  min-width: 300px;
  display: flex;
  align-items: center;
  margin: 0;
  display: flex;
  margin-right: 0px;
  margin-top: 10px;
}

.link:hover::after {
  transform: scaleX(1); 
  transition: 0.5s;
}

/*========== corpo ==========*/



.header{
  padding: 100px;
  background-color:  hsl(212, 42%, 15%);

}

.headline p{
  text-align: left;
}

.headline h2{
  text-align: left;
}

.header{
  padding-top: 125px ;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 42%, 15%);
  color: white;
  height: auto;
  width: auto;
}

.headline2{
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  direction: rtl;
  display: flex;
  text-align: justify;
 justify-content: flex-start;
 width: auto;
}

.headline2 p{
  display: flex;
  text-align: justify;
 justify-content: flex-star;
}

/* ========== footer ==========*/

.backgroun-footer{
  display: flex;
  
}

#testeteste{
  justify-content: space-between;
  width: 20%;
  margin-top: 30px;
}

h5{
  display: flex;
  justify-content: center;
}

a{
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: white !important;
  font-size: 18px;
  letter-spacing:0.5px;
  padding: 0 10px;
  display: flex-end;
  text-decoration: none;
}

/*=========== link footer ========== */

.link-container2{
display: flex;
justify-items: center;
justify-content: space-around;
  }
  
.link-container2 {
display: flex;
}

.link2 { 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.link2:hover {
    transform: scale(1.1); 
    
}

.link-container2:hover .link2{
  filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(1200%) hue-rotate(335deg) brightness(95%) contrast(100%);
}

.contai{
  background-color: hsl(212, 42%, 15%);
  color: white;
}