/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --body-color: hsl(212, 42%, 15%);
  --body-font: "Bai Jamjuree", sans-serif;
}

/*=============== BASE ===============*/
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
p{
  color: white;
}


body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

/*=========== link topo ==========*/

.icone{
  position: relative;
   
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 9%;
  z-index: 3;
  background: hsl(211, 45%, 10%);
}

.nav .logo span {
  color: rgb(124 0 255);
}
.nav .navbar a {
  display: inline-block;
  padding: 0px 30px;
  color: #fff;
  position: relative;
  transition: all 0.3s ease; /* Transição suave */
}

.nav .navbar a:hover {
  background:  #be3144;
  color: #fff;
  border-radius: 5px; /* Arredonda as bordas ao passar o mouse */
  box-shadow: 0 4px 15px #be3144; /* Adiciona uma leve sombra */
  transform: scale(1.05); /* Aumenta levemente o tamanho do link */
}
#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav .navbar a img{
  transition: filter 0.3s ease;
}
.nav .navbar a:hover img{
   filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(1200%) hue-rotate(335deg) brightness(95%) contrast(100%);
}



/*========== carrosel ===========*/
  .home {
    padding: 0;
    margin-top: 5rem;
}
.home .slide {
    min-height: 90vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}

.home .slide .content {
    width: 60rem;
}

.home .slide .content span {
    font-size: 2rem;
    color: rgb(124 0 255);
    display: block;
}
.home .slide .content h3 {
    font-size: 5rem;
    color: #fff;
    padding: 1rem 0;
}
/*class de swipwer para criar as bolinhas*/
.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgb(124 0 255);
}
/*========== card =========*/
.main{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:calc();
}

.card{
  text-align: center;
  color: #200202;
  margin: 30px;
  background-color: whitesmoke;
  width: 400px;
  height: 480px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  
}
.btn{
    font-size: 17px;
    padding: 10px 50px;
    border: none;
    background-color: #be3144;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.5s background;
    cursor: pointer;
}
.btn:hover{
transition: 0.5s background;
background-color: #992636;
}
.card p{
  font-size: 15px;
  color: black;
  padding: 20px 20px;
}
.card h4{
  font-size: 20px;
  padding-top: 10px;
}
.card img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
        
/*========== corpo =========*/

.header img {
  display: block;
  max-width: 100%;
  height: auto;
  
}
.header{
  padding-top: 125px ;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 42%, 15%);
  color: white;
}

.headline{
  flex: 40%;
  margin-left: 10%;
}

.headline h2{
  font-weight: 900;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.headline p{
  text-align: left;
  color: rgba(99,101,102,255);
}

.img-headline{
  flex: 40%;
  text-align: center;
  background-color: hsl(212, 42%, 15%);
}

.img-headline img{
  background-color: hsl(212, 42%, 15%);
  display: block;
  max-width: 100%;
  height: auto;
}
.contact-btn a {
  margin-top: 20px;
}
.contact-btn {
  display: inline-block;
  margin-top: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  background-color: #be3144;
  padding-block: 10px;
}

.contact-btn:hover{
  background-color:  hsl(211, 45%, 10%);
  
}
/*========== privacidade =========== */
.header2{
  padding: 100px;
  background-color:  hsl(212, 42%, 15%);

}

h2{
  padding: 0;
}

.headline2 p{
  text-align: right;
}

.headline h2{
  text-align: left;
}

.header2{
  padding-top: 125px ;
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 42%, 15%);
  color: white;
  height: auto;
  width: auto;
}

.headline2{
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  direction: ltr;
  display: flex;
  text-align: justify;
 justify-content: flex-start;
 width: auto;
}

.headline2 p{
  display: flex;
  text-align: justify;
 justify-content: flex-star;
}


/*========== sobre ==========*/

.feito{
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  direction: ltr;
  display: flex;
  text-align: justify;
 justify-content: flex-start;
  padding: 0 200px 100px 100px;
}
.img-headline2 {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  padding-right: 200px;
  
}
.p-reto {
vertical-align: baseline;
}

/*========== foooter ===========*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #be3144; /* cor de fundo */
}

.icone {
  flex: 1;
}

.icone .logo {
  max-width: 100%;
}

.footer a {
  margin-left: 15px; /* espaço entre os ícones */
  transition: transform 0.3s; /* efeito suave no hover */
}

.footer a:hover {
  transform: scale(1.1); /* aumenta o tamanho no hover */
  fill: #be3144;
}
.horarios{
  text-align: center;
  align-items: center;
  display: flex;
  background-color: #be3144;
}
.horarios p{
  padding: 0 5px 0 5px;
}
.horarios h3{
  padding-left: 35px;

}